@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #FFFFFF;
  --foreground-color: #181e4b;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}
